APP_NAME=Showhow
BUNDLE_ID=com.bedarstudios.showhow

APPLE_ID=
TEAM_ID=
SIGN_IDENTITY="Developer ID Application: Bedar Studios (TEAM_ID)"
CSC_NAME="Developer ID Application: Bedar Studios (TEAM_ID)"

NOTARY_PROFILE=Showhow-notary
APPLE_APP_SPECIFIC_PASSWORD=
